.card{
    width:210px;
    border:1px solid grey;
    border-radius:5px;
    text-align:center;
}
img{
    width:200px;
    border:5px solid rgb(236,183,191);
    border-radius:50%;
}
/* Height width padding margin*/
.dog{
    background-color: pink;
    padding: 100px;
    width: 200px;
    height: 200px;
}

button{
    padding: 10px 20px;
}

section{
    background-color: palegreen;
    height: 200px;
    width: 200px;
    margin: 100px;
}